/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;

// Colors
$white: #fff;
$black: #000;
$blueDark: #2A466D;
$blueMedium: #507DBC;
$pinkLight: #FEDFE5;
$pinkDark: #B66669;
$tanLight: #F6F2EB;
$tanDark: #DCD3C4;
$pinkMedium: #F18D8D;
$greenLight: #C4E6E2;
$greenDark: #466D68;





