/* =============
    About
============= */

#about{
    // display: grid;
    // grid-template-columns: 16px auto 16px;
    // grid-template-areas: ". about .";

    div{
        ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 90px;
        margin-top: 80px;
        grid-template-areas: 
        "ab1 ab2 paragraph1"
        "ab3 ab4 paragraph1two";
        }
    }

        #instaLogo{
            grid-area: il;
            color: $white;
            background-color: $tanDark;
            margin-left: 32px;
            padding-left: 30px;
            padding-right: 403px;
            margin-top: 95px;
            padding-top: 20px;
            font-size: rem-calc(30);

            @include md{
                padding-right: 570px;
                margin-left: 180px;
            }

            &:hover {
                color: $blueDark;
            }
        }

        #instaText{
            grid-area: ite;
            color: $blueDark;
            background-color: $tanDark;
            margin-right: 29px;
            margin-left: 32px;
            padding-bottom: 20px;
            padding-left: 60px;

            @include md{
                margin-right: 187px;
                margin-left: 180px;
            }
        }

        #instaTag{
            grid-area: it;
            color: $blueDark;
            background-color: $tanDark;
            margin-right: 29px;
            padding-left: 55px;
            margin-left: 32px;
            padding-bottom: 15px;

            @include md{
                margin-right: 187px;
                margin-left: 180px;
            }
        }

        .blue-button{
            @include md{
                margin-left: 400px;
            }
        }

        grid-area: about;
        // border: 1px solid blue;

        #paragraph1{
            margin-bottom: 60px;
            margin-left: 16px;
            margin-right: 150px;
            color: $blueDark;

            @include md{
                grid-area: paragraph1;
                margin-right: 20px;
            }

            @include lg{
                grid-area: paragraph1;
                margin-right: 20px;
            }

            @include xl{
                grid-area: paragraph1;
                margin-right: 20px;
            }
        }

        #paragraph2{
            margin-bottom: 10px;
            margin-top: 30px;
            margin-left: 16px;
            margin-right: 150px;
            color: $blueDark;
        }

    #aboutTitle{
        background-color: $greenLight;
        margin-right: 200px;
        padding-left: 16px;
        padding-top: 18px;
        padding-bottom: 18px;
        color: $greenDark;
        margin-bottom: 30px;

        @include md{
            margin-right: 350px;
            padding-left: 55px;
        }

        @include lg{
            margin-right: 550px;
            padding-left: 55px;
        }

        @include xl{
            margin-right: 900px;
            padding-left: 55px;
        }
    }

    .container {
        position: relative;
        width: 50%;
    }

    .container img {
        width: 200%;
        height: auto;

        @include md{
            width: 170%;
            margin-top: 60px;
            margin-left: 70px;

        }
    }

    .container .btn {
        position: absolute;
        top: 50%;
        left: 16%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: $pinkLight;
        color: $pinkDark;
        font-size: rem-calc(30);
        padding: 12px 40px;
        border: none;
        cursor: pointer;
        border-radius: 5px;

        @include md{
            left: 27%;
        }
    }

    .container .btn:hover {
        background-color: $pinkDark;
        color: $pinkLight;
    }

    .container .btn2 {
        position: absolute;
        top: 50%;
        right: -118%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: $pinkLight;
        color: $pinkDark;
        font-size: rem-calc(30);
        padding: 12px 40px;
        border: none;
        cursor: pointer;
        border-radius: 5px;

        @include md{
            right: -95%;
        }
    }

    .container .btn2:hover {
        background-color: $pinkDark;
        color: $pinkLight;
    }

    #bg{
        color: $blueDark;
        margin-top: 60px;
        margin-left: 20px;
    }

h2{
    color: $greenDark;
    font-size: rem-calc(20);
    font-weight: 600;
    // margin-bottom: 16px;
    // margin-top: 16px;
    padding: 0px 16px 24px;

    @include md{
         font-size: rem-calc(20);
         font-weight: 600;
    }

    @include lg{
        font-size: rem-calc(37);
        font-weight: 400;
    }

    &:hover {
        color: $white;
    }
}

>div{

    #at1{
        display: none;
        // color: $greenDark;
        // margin-left: -15px;

        @include md{
        display: grid;
        color: $greenDark;
        margin-left: 5px;
        margin-right: 100px;
        }

        @include lg{
            display: grid;
            color: $greenDark;
            margin-left: 5px;
            margin-right: 100px;
        }

        @include xl{
            display: grid;
            color: $greenDark;
            margin-left: 5px;
            margin-right: 100px;
        }

        &:hover {
            color: $white;
        }
    }

    #at2{
        display: none;
    
        @include md{
            display: grid;
            margin-left: 20px;
        }

        @include lg{
            display: grid;
            margin-left: 20px;
        }

        @include xl{
            display: grid;
            margin-left: 20px;
        }

        &:hover {
            color: $white;
        }
    }

    #at3{
        display: none;
        // margin-left: -10px;

        @include md{
            display: grid;
            margin-left: 30px;
        }

        @include lg{
            display: grid;
            margin-left: 10px;
        }

        @include xl{
            display: grid;
            margin-left: 10px;
        }

        &:hover {
            color: $white;
        }
    }

    #at4{
        display: none;
        // margin-left: -10px;

        @include md{
            display: grid;
            margin-left: 20px;
        }

        @include lg{
            display: grid;
            margin-left: 20px;
        }

        @include xl{
            display: grid;
            margin-left: 20px;
        }

        &:hover {
            color: $white;
        }
    }
    
    @include md{
        grid-area: about;
    }

    ul{

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 90px;
        margin-top: 80px;
        grid-template-areas: 
        "ab1 ab2 paragraph1"
        "ab3 ab4 paragraph1two";

        li{

            img{
                @include md{
                    background-color: #F6F2EB;
                    background-size: cover;
                    background-position: center;
                    width: 100%
                }

                @include lg{
                    background-color: #F6F2EB;
                    background-size: cover;
                    background-position: center;
                    width: 100%
                }

                @include xl{
                    background-color: #F6F2EB;
                    background-size: cover;
                    background-position: center;
                    width: 100%
                }
            }

            section{ 
                display: grid;
                grid-template-columns: 16px auto 16px;
                grid-template-areas: ". about .";
                padding: 16px 0;  

                >div{
                    grid-area: about;
                }
            }
        }

        #paragraph1{
            // margin-bottom: 60px;
            // margin-left: 16px;
            // margin-right: 150px;
            // color: $blueDark;
            display: none;

            @include md{
                display: grid;
                grid-area: paragraph1;
                margin-right: 20px;
                color: $blueDark;
            }

            @include lg{
                grid-area: paragraph1;
                margin-right: 20px;
            }

            @include xl{
                grid-area: paragraph1;
                margin-right: 20px;
            }
        }

        #paragraph1two{
            
            display: none;

            @include md{
                display: grid;
                grid-area: paragraph1two;
                margin-right: 20px;
                margin-left: 15px;
                margin-top: -180px;
                color: $blueDark;
            }

            @include lg{
                grid-area: paragraph1two;
                margin-right: 20px;
                color: $blueDark;
            }

            @include xl{
                grid-area: paragraph1two;
                margin-right: 20px;
                color: $blueDark;
            }
        }

        #ab1{
            display: none;
            @include md{
                display: grid;
                grid-area: ab1;
                width: 10%;
                margin-left: -40px;
            }

            @include lg{
                display: grid;
                grid-area: ab1;
                width: 60%;
            }

            @include xl{
                display: grid;
                grid-area: ab1;
                width: 60%;
            }
        }
 
        #ab2{
            display: none;
            @include md{
                display: grid;
                grid-area: ab2;
                width: 60%;
            }

            @include lg{
                display: grid;
                grid-area: ab2;
                width: 60%;
            }

            @include xl{
                display: grid;
                grid-area: ab2;
                width: 60%;
            }
        }

        #ab3{
            display: none;
            @include md{
                display: grid;
                grid-area: ab3;
                width: 60%;
            }

            @include lg{
                display: grid;
                grid-area: ab3;
                width: 60%;
            }

            @include xl{
                display: grid;
                grid-area: ab3;
                width: 60%;
            }
        }

        #ab4{
            display: none;
            @include md{
                display: grid;
                grid-area: ab4;
                width: 60%;
            }

            @include lg{
                display: grid;
                grid-area: ab4;
                width: 60%;
            }

            @include xl{
                display: grid;
                grid-area: ab4;
                width: 60%;
            }
        }
    }
}

}