/* =============
    Film
============= */

#film{
    // display: grid;
    // grid-template-columns: 16px auto 16px;
    // grid-template-areas: ". film .";

    >div{
        grid-area: film;
    }

    #filmTitle{
        background-color: $greenLight;
        margin-right: 200px;
        margin-top: 130px;
        padding-left: 16px;
        padding-top: 18px;
        padding-bottom: 18px;
        color: $greenDark;
        margin-bottom: 30px;

        @include md{
            margin-right: 350px;
            padding-left: 55px;
        }

        @include lg{
            margin-right: 550px;
            padding-left: 55px;

            font-size: rem-calc(35);
            font-weight: 600;
        }

        @include xl{
            margin-right: 900px;
            padding-left: 55px;

            font-size: rem-calc(35);
            font-weight: 600;
        }
    }

    >div{

        #f1{
            color: $greenDark;
            margin-left: 10px;

            @include md{
            margin-left: 30px;
            margin-right: 100px;
            }

            @include lg{
                margin-left: 130px;
                margin-top: 20px;
                margin-right: 100px;
                margin-bottom: 100px;
                }

            &:hover {
                color: $white;
            }
        }

        #f2{
            color: $greenDark;
            margin-left: 30px;

            @include md{
                margin-left: 55px;
            }

            @include lg{
                margin-left: 160px;
                margin-top: 20px;
                margin-bottom: 100px;
                }

            &:hover {
                color: $white;
            }
        }

        @include md{
            grid-area: film;
        }

        #rules{
            color: $blueDark;
            margin-top: 70px;
            margin-left: 135px;
            margin-bottom: 40px;

            @include md{
                margin-left: 255px;
            }

            @include lg{
                margin-left: 500px;
                font-size: rem-calc(25);
            }
        }

        #rulesText{
            margin-bottom: 50px;
            margin-left: 110px;
            margin-right: 100px;
            color: $blueDark;

            @include lg{
                font-size: rem-calc(18);
                margin-bottom: 180px;
                margin-left: 300px;
                margin-right: 400px;
            }
        }

        #visitors{
            color: $blueDark;
            margin-top: 70px;
            margin-left: 20px;
            margin-bottom: 40px;

            @include lg{
                font-size: rem-calc(35);
                font-weight: 400;
                margin-left: 40px;
            }
        }

        #video{
            margin-bottom: 16px;
            margin-left: 50px;

            @include md{
                margin-left: 80px;
                width: 600px;
            }
        }

        button{
            margin-left: 265px;
        }

        ul{

            margin-left: 60px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: 
            "film1 film2";

            li{
                background-color: #F6F2EB;
                background-size: cover;
                background-position: center;
                img{
                    width: 60%;

                    @include md{
                        width: 100%
                    }

                    @include lg{
                        width: 100%
                    }

                    @include xl{
                        width: 100%
                    }
                }
    
                section{ 
                    display: grid;
                    grid-template-columns: 16px auto 16px;
                    grid-template-areas: ". film .";
                    padding: 16px 0;  
    
                    >div{
                        grid-area: film;
                    }
                }
            }

            #film1{

                width: 120%;

                @include md{
                    grid-area: film1;
                    margin-right: 10px;
                    margin-left: 20px;
                    margin-top: 40px;
                    width: 65%;
                }

                @include lg{
                    grid-area: film1;
                    margin-top: 100px;
                }
            }

            #film2{

                width: 120%;

                @include md{
                    grid-area: film2;
                    margin-left: 20px;
                    margin-top: 40px;
                    width: 65%;
                }

                @include lg{
                    grid-area: film2;
                    margin-top: 100px;
                }
            }
        }
    }
}