/* =============
    Header Links
============= */

#headerLinks{
    display: grid;
    // grid-template-columns: 16px auto 16px;
    grid-template-areas: ". headerLinks .";
    margin-top: 170px;

    @include md{
        margin-top: 160px;
    }

    >div{
        grid-area: headerLinks;
        // border: 1px solid blue;
        #covid{
            background-color: $pinkMedium;
            padding-left: 180px;
            padding-right: 190px;
            padding-top: 15px;
            padding-bottom: 15px;

            @include md{
                padding-left: 460px;
                padding-right: 500px;
                padding-top: -10px;
            }
        }

        #donate{
            background-color: $blueDark;
            padding-left: 230px;
            padding-right: 190px;
            padding-top: 15px;
            padding-bottom: 15px;

            @include md{
                padding-left: 500px;
                padding-right: 550px;
                padding-top: -10px;
            }
        }
        
        h3{
            color: $white;
        }
        a{
            text-decoration: none;
        }
    }

    background-color: $pinkLight;
}