/* =============
    Hero
============= */

// #hero{
//     display: grid;
//     grid-template-columns: 16px auto 16px;
//     grid-template-areas: ". hero .";
//     margin-top: 165px;

//     @include md{
//         padding: 22px 0;
//         margin-top: 290px;
//     }

//     @include lg{
//         padding: 22px 0;
//         margin-top: 320px;
//     }

//     @include xl{
//         grid-template-columns: auto 480px 16px;
//         margin-top: 350px;
//     }

//     >div{
//         grid-area: hero;
//     }

//     a{
//         text-decoration: none;
//     }

//     img{
//         width: 20%;
//     }
// }

#hero{

    margin-bottom: 64px;
    margin-top: 150px;
    margin-left: 90px;
    align-items: center;

    @include md{
        margin-bottom: 24px;
        margin-left: -60px;
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". hero .";
        padding: 22px 0;
        margin-top: 190px;
    }

    @include lg{
        padding: 22px 0;
        margin-top: 250px;
    }

    @include xl{
        margin-bottom: 64px;
        grid-template-columns: auto 1200px auto;
        padding: 22px 0;
        margin-top: 280px;
        margin-left: -100px;
    }

    h2{
        color: $pinkDark;
        font-size: rem-calc(20);
        font-weight: 600;
        // margin-bottom: 16px;
        // margin-top: 16px;
        padding: 0px 16px 24px;

        @include md{
             font-size: rem-calc(20);
             font-weight: 600;
        }

        @include lg{
            font-size: rem-calc(37);
            font-weight: 400;
        }
    }

    >div{

        #t1{
            color: $blueDark;
            margin-left: -15px;

            @include md{
            margin-left: 5px;
            margin-right: 100px;
            }

            &:hover {
                color: $white;
            }
        }

        #t2{
            @include md{
                margin-left: 20px;
            }

            &:hover {
                color: $white;
            }
        }

        #t3{
            margin-left: -10px;

            @include md{
                margin-left: 10px;
            }

            @include lg{
                padding-right: 5px;
            }

            &:hover {
                color: $white;
            }
        }

        #t4{
            margin-left: -10px;

            @include md{
                margin-left: 20px;
            }

            &:hover {
                color: $white;
            }
        }
        
        @include md{
            grid-area: hero;
        }

        ul{

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: 
            "c1 c2"
            "c3 c4";

            @include md{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-areas: 
                ". c1 c2 ."
                "c3 . . c4";
                gap: 16px;
            }

            @include lg{
                grid-template-columns: repeat(6, 1fr);
                grid-template-areas: 
                ". c1 c2 ."
                "c3 . . c4";
            }

            li{
                background-color: #F6F2EB;
                background-size: cover;
                background-position: center;
                img{
                    width: 60%;

                    @include md{
                        width: 100%
                    }

                    @include lg{
                        width: 100%
                    }

                    @include xl{
                        width: 100%
                    }
                }
    
                section{ 
                    display: grid;
                    grid-template-columns: 16px auto 16px;
                    grid-template-areas: ". hero .";
                    padding: 16px 0;  
    
                    >div{
                        grid-area: hero;
                    }
                }
            }

            #c1{
                @include md{
                    grid-area: c1;
                    margin-right: 20px;
                    width: 65%;
                }
            }

            #c2{
                @include md{
                    grid-area: c2;
                    margin-left: 20px;
                    width: 120%;
                }
            }

            #c3{
                @include md{
                    grid-area: c3;
                    margin-left: 140px;
                    width: 65%;
                }

                @include lg{
                    grid-area: c3;
                    margin-left: 140px;
                    padding-right: 140px;
                    width: 55%;
                }
            }

            #c4{
                @include md{
                    grid-area: c4;
                    margin-right: 150px;
                    width: 55%;
                }
            }
        }
    }
}
