/* =============
    Footer
============= */

#footer{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". footer .";
    background-color: $blueDark;
 
    >div{
        grid-area: footer;
        // border: 1px solid blue;
    }

    a{
        color: white;

        &:hover {
            color: $pinkLight;
        }
    }

    h5{
        color: $pinkLight;
    }

    >div{

        ul{

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: 
            "footer1 footer3"
            "footer2 footer4";

            @include md{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: 
            "footer2 footer1 footer3"
            ". . footer4";
            }

            @include lg{
                margin-left: -35px;
            }

            li{
                background-color: $blueDark;
                background-size: cover;
                background-position: center;
                img{
                    width: 60%;

                    @include md{
                        width: 100%
                    }

                    @include lg{
                        width: 100%
                    }

                    @include xl{
                        width: 100%
                    }
                }
    
                section{ 
                    display: grid;
                    grid-template-columns: 16px auto 16px;
                    grid-template-areas: ". footer .";
                    padding: 16px 0;  
    
                    >div{
                        grid-area: footer;
                    }
                }
            }

            #footer1{

                grid-area: footer1;
                margin-right: 20px;
                margin-left: 15px;
                margin-top: 35px;

                @include md{
                    grid-area: footer1;
                    margin-right: 20px;
                    margin-top: 80px;
                    margin-left: 54px;
                }

                @include lg{
                    grid-area: footer1;
                    margin-right: 20px;
                    margin-top: 80px;
                    margin-left: 124px;
                }

                &:hover {
                    color: $white;
                }
            }

            #footer2{

                grid-area: footer2;
                margin-left: 15px;

                @include md{
                    grid-area: footer2;
                    margin-left: 20px;
                    margin-top: 70px;
                }

                @include lg{
                    grid-area: footer2;
                    margin-left: 110px;
                    margin-top: 70px;
                }
            }

            #footer3{

                grid-area: footer3;
                margin-left: 30px;
                margin-top: 45px;
                font-size: rem-calc(50);
                margin-bottom: -30px;

                @include md{
                    grid-area: footer3;
                    margin-left: 30px;
                    margin-top: 80px;
                }

                @include lg{
                    grid-area: footer3;
                    margin-left: 100px;
                    margin-top: 80px;
                }
            }

            #footer4{

                grid-area: footer4;
                margin-left: 30px;
                font-size: rem-calc(10);

                @include md{
                    grid-area: footer4;
                    margin-right: 40px;
                    margin-left: 10px;
                    margin-top: -30px;
                }

                @include lg{
                    grid-area: footer4;
                    margin-right: 40px;
                    margin-left: 160px;
                    margin-top: -30px;
                }
            }
        }
    }
}