/* =============
    Header
============= */

// header{
//     display: grid;
//     grid-template-columns: 16px auto 16px;
//     grid-template-areas: ". header .";

//     >div{
//         grid-area: header;
//         // border: 1px solid blue;
//     }

//     img{
//         width: 10%;
//     }
// }

header {

    background-color: $pinkLight;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". header .";
    padding: 21px 0;

    @include md{
        padding: 24px 0;
    }

    @include lg{
        padding: 16px 0;
    }

    @include xl{
        padding: 16px 0;
    }

    >div {
        display: grid;
        grid-template-areas:
        ". logo burger"
        ". title title"
        "nav nav nav";
        grid-template-columns: 20% auto;
        grid-area: header;

        @include lg{
            grid-template-areas: "logo nav";
            grid-template-columns: 20% auto;
        }

    }

    #title{
        grid-area: title;
        color: $blueDark;
        font-size: rem-calc(15);
        padding-left: 15px;
        margin-top: 12px;
    }

    #logo{
        grid-area: logo;
        margin-left: 90px;
        width: 30%;
    }

    #logo-container{
        grid-area: logo;
        padding: 10px;

        a:link, a:visited {
            transition: 0.25s;

            &:hover{
            }
        }

        // img{
        //     width: 200%;
        // }

    }

    #burger-container{
        background-color: $pinkLight;
        // align-items: center;
        display: flex;
        grid-area: burger;
        padding: 10px;

        @include lg{
            display: none !important;
        }

        i{
            margin-left: auto;
            cursor: pointer;
            font-size: rem-calc(30);
            color: $blueDark;
        }
    }

    #nav-container{
        background-color: $pinkDark;
        display: none;
        grid-area: nav;
        padding: 20px 10px 10px;

        @include lg{
            // background-color: $white;
            display: block !important;
        }
    }
}
